html {
  overflow: auto;
  display: flex;
  min-height: 100vh;
}

body {
  flex: 1 1;
  display: flex;
}

#general {
  flex: 1 1;
  margin: 10px;
  padding: 10px;
}

.mainPage {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  padding-left: 250px;

  &__menu {
    min-width: 250px;
    max-width: 250px;
    padding: 10px;
    border-right: 2px solid #e1e1e1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
  }

  &__view {
    padding: 10px;
    flex: 1 1;
    display: flex;
    flex-direction: column;

    > iframe {
      flex: 1 1;
    }
  }

  &__toTop {
    position: fixed;
    right: 10px;
    top: 10px;
  }
}

.sheetExamples {
  &__example {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  &__sample {
    flex: 1 1;

    //&:not(:last-child) {
    //  display: flex;
    //  justify-content: end;
    //}
  }

  &__sampleSource {
    flex: 1 1;
    border-radius: 5px;
    white-space: break-spaces;
  }
}