html {
  overflow: auto;
  display: flex;
  min-height: 100vh;
}

body {
  flex: 1 1;
  display: flex;
}

#general {
  flex: 1 1;
  margin: 10px;
  padding: 10px;
}

.mainPage {
  display: flex;
  flex-direction: row;
  min-height: 100%;

  &__menu {
    min-width: 250px;
    padding: 10px;
    border-right: 2px solid #e1e1e1;

  }

  &__view {
    padding: 10px;
    flex: 1 1;
    display: flex;
    flex-direction: column;

    > iframe {
      flex: 1 1;
    }
  }
}

.mainSheetsMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    transition: background-color .25s ease-in-out;
    padding: 5px 5px;
    display: block;

    &.m-selected {
      background-color: #d2f6eb;
      outline: 1px solid #e1e1e1;
    }

    &:hover,
    &:focus{
      background-color: #e1e1e1;
    }
  }
}